<div style="padding: 2em">

<h4>Let's start with some basic details</h4>

<br><br>
<form class="" action="PUT THING HERE" method="post" display="inline-block">
	<div class="row">
		<div class="input-field col s12 m6 l6 ">
			<input style="font-size:25px;" type="text" id="event" placeholder="KD Fall Crush 2019" display="inline-block">
			<label for="event">Event Name</label>
		</div>

    <div class=" input-field col s12 m5 l5 offset-l1 ">
			<input style="font-size:25px;" type="text" id="event" placeholder="Kappa Delta Lambda" display="inline-block">
			<label for="event">Host Name</label>
		</div>
	</div>

	<agm-map [latitude]="lat" [longitude]="lng"></agm-map>



</form>
</div>
