<div class="center-align bg white-text ">
  <div
    class="card-panel teal darken-2 s6"
    style="margin-top:8em; display: inline-block"
  >
    <h1 style="margin-left:2em; margin-right:2em">QRdinate</h1>
  </div>

  <div class="row center-align valign-wrapper" style="margin-top:7em">
    <div class="col m3 offset-m4 s3 offset-s4">
      <input
        type="text"
        name="eventId"
        placeholder="Event ID"
        style="display: inline; color: white  "
      />
    </div>
    <a
      class="btn-floating btn-large pulse teal darken-2 left m1"
      style="display: inline-block; margin-left: 2.5em"
      ><i class="material-icons ">send</i></a
    >
  </div>
</div>

<router-outlet></router-outlet>
