<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>QRdinate</title>
  </head>
  <body>
    <h1>QRdinate</h1>

    <ul>
        {{#each facts}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
  </body>
</html>
