<div class="row">
  <div class="col center s5 m3 l3 accent-bg valign-wrapper" style="height: 100vh;">
    <create-event-sidebar (tab)="setID($event)"></create-event-sidebar>
  </div>

  <div class="col s7 m9 l9">
    <div [hidden]="getTabID(0)" class="col s9">
      <basic-details></basic-details>
    </div>

    <div [hidden]="getTabID(1)" class="col s9">
      <guests></guests>
    </div>

    <div [hidden]="getTabID(2)" class="col s9">
      <transportation></transportation>
    </div>

    <div [hidden]="getTabID(3)" class="col s9">
      <check-in></check-in>
    </div>

    <div [hidden]="getTabID(4)" class="col s9">
      <administrivia></administrivia>
    </div>

    <div [hidden]="getTabID(5)" class="col s9">
      <review></review>
    </div>
  </div>
</div>
