:root {
  --primary: #002a38;
  --secondary: #065559;
  --neutral: #333232;
  --accent: #d7263d;
  --bright: #ffd395;
}
.btn-floating {
  background-color: var(--secondary);
}

.btn-floating i {
  color: var(--bright);
}

.btn-floating:hover {
  background-color: #876284;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.neutral {
  color: var(--neutral);
}

.bright {
  color: var(--bright);
}

.accent {
  color: var(--accent);
}

.primary-bg {
  background-color: var(--primary);
}

.secondary-bg {
  background-color: var(--secondary);
}

.neutral-bg {
  background-color: var(--neutral);
}

.bright-bg {
  background-color: var(--bright);
}

.accent-bg {
  background-color: var(--accent);
}

/* label color */
.input-field label {
  color: var(--bright);
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid var(--secondary);
  box-shadow: 0 1px 0 0 var(--secondary);
}

/* label underline color */
.input-field input[type="text"] {
  border-bottom: 1px solid var(--bright);
  box-shadow: 0 1px 0 0 var(--bright);
}

/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #00695c;
}

h1 {
  margin: 0;
}
