:root {
  --primary: #a255a4;
  --background: #ffffff;
  --secondary: #000000;
  --accent: #507dbc;
}
.btn-floating {
  background-color: var(--background);
}

.btn-floating i {
  color: var(--primary);
}

.btn-floating:hover {
  background-color: #876284;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.background {
  color: var(--background);
}

.neutral {
  color: var(--neutral);
}

.accent {
  color: var(--accent);
}

.primary-bg {
  background-color: var(--primary);
}

.background-bg {
  background-color: var(--background);
}
.secondary-bg {
  background-color: var(--secondary);
}

.accent-bg {
  background-color: var(--accent);
}

/* label color */
.input-field label {
  color: var(--primary);
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid var(--background);
  box-shadow: 0 1px 0 0 var(--background);
}

/* label underline color */
.input-field input[type="text"] {
  border-bottom: 1px solid var(--primary);
  box-shadow: 0 1px 0 0 var(--primary);
}

/* label focus color */
.input-field input[type="text"]:focus + label {
  color: var(--background);
}

h1 {
  margin: 0;
}
